@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
}

body {
    background: #006aa8;
}

/* Header (background and text) */

.header-background {
    display: block;
    height: 150px;
    position: relative;
    background-color: #fdcc00;
}

.header-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

/* Quiz game area */

.quiz-game-area {
    background: #fff;
    width: 95%;
    max-width: 600px;
    margin: 100px auto 150px;
    border: 5px solid #fdcc00;
    border-radius: 15px;
    padding: 30px;
}

.quiz-game-area h1 {
    font-size: 20px;
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
}